#gameSpace {
    width: 700px;
    height: 600px;
    border-style: solid;
    border-color: black;
    position: relative;
}

#airplane {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 550px;
    left: 350px;
    background-color: grey;
}

#startButton {
    width: 50px;
}

.obstacle {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
}

#infoBar {
    display: flex;
    width: 700px;
    height: 50px;
    background-color: antiquewhite;
}

#score {
    margin: 10px;
    font-size: 30px;
}

#difficulty {
    margin : 10px;
    font-size: 30px;
}

#scoreText {
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.bullets {
    position: absolute;
    width: 10px;
    height: 15px;
    background-color: red;
}
